<mat-toolbar>
  <span>Cart</span>
</mat-toolbar>
<mat-card class="price-card">
  <div class="price">
    <span>Total Products: </span>
    <span>Total Price: </span>
  </div>
</mat-card>
<mat-card style="margin: 20px auto; width: 40vw">
  <div class="page-wrap">
    <div class="products">
      <mat-card
        class="product-card"
        style="
          margin: 25px auto;
          width: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          text-align: center;
        "
      >
        <mat-icon style="display: flex; align-self: flex-end; cursor: pointer"
          >close</mat-icon
        >
        <mat-card-header>
          <mat-card-title>
            <span>Test</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img
            mat-card-image
            alt="product-img"
            src=""
            style="width: 100px; margin: 0 auto 10px"
          />
          <p>Category: Test</p>
          <p>Description: Test</p>
          <p>Price: Test</p>
          <p>Raiting: Test</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="products">
      <mat-card
        class="product-card"
        style="
          margin: 25px auto;
          width: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          text-align: center;
        "
      >
        <mat-icon style="display: flex; align-self: flex-end; cursor: pointer"
          >close</mat-icon
        >
        <mat-card-header>
          <mat-card-title>
            <span>Test</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img
            mat-card-image
            alt="product-img"
            src=""
            style="width: 100px; margin: 0 auto 10px"
          />
          <p>Category: Test</p>
          <p>Description: Test</p>
          <p>Price: Test</p>
          <p>Raiting: Test</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="products">
      <mat-card
        class="product-card"
        style="
          margin: 25px auto;
          width: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          text-align: center;
        "
      >
        <mat-icon style="display: flex; align-self: flex-end; cursor: pointer"
          >close</mat-icon
        >
        <mat-card-header>
          <mat-card-title>
            <span>Test</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img
            mat-card-image
            alt="product-img"
            src=""
            style="width: 100px; margin: 0 auto 10px"
          />
          <p>Category: Test</p>
          <p>Description: Test</p>
          <p>Price: Test</p>
          <p>Raiting: Test</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-card>
